<script type="text/coffeescript">
    new Converzilla('542e36c470726f360f000000', {exitForm: false, visitors: true})
</script>

<script type="text/javascript">
    var ua = navigator.userAgent.toLowerCase();
    if (ua.indexOf("msie") != -1 || ua.indexOf("opera") != -1) {
        jQuery('body').css('overflow','hidden');
        jQuery('html').css('overflow','hidden');
    }

    jQuery(function() {
        jQuery('#bannerscollection_zoominout_opportune').bannerscollection_zoominout({
            skin: 'opportune',
            responsive:true,
            width: 1920,
            height: 1200,
            width100Proc:true,
            height100Proc:true,
            showNavArrows:true,
            showBottomNav:true,
            autoHideBottomNav:true,
            thumbsWrapperMarginTop: -55,
            pauseOnMouseOver:false,
            showCircleTimer:false,
            autoplay:15,
            fadeSlides: false

        });

    });
</script>
<div id="bannerscollection_zoominout_opportune">

  <ul class="bannerscollection_zoominout_list">
    <% @projects.each do |project| %>
        <li data-text-id="#<%= project.name %>" data-bottom-thumb=<%= project.demo_img.url(:thumb) %> data-initialZoom="1" data-finalZoom="1.1">
          <img src=<%= project.demo_img.url %>  width="1920" height="1200">
        </li>
    <% end %>
  </ul>
  <% @projects.each do |project| %>
      <div id="<%= project.name %>" class="bannerscollection_zoominout_texts">
        <div class="textcontainer">
          <div class="bannerscollection_zoominout_text_line textElement11_opportuneFullScreen" data-delay="0"><%= project.name %></div>
          <div class="bannerscollection_zoominout_text_line textElement12_opportuneFullScreen"  data-delay="0"><%= project.description %></div>
          <div class="project-link"><a href=<%= project.link %>><%= project.link_text.present? ? project.link_text : project.link %></a></div>
        </div>
      </div>
  <% end %>
</div>



<div id="logx"></div>