<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <title>Kerweb</title>

  <meta content="Cтудия разработки Kernel Web. Разработка веб-сервисов любой сложности на Ruby on Rails. Landing pages, интернет-магазины, корпоративные порталы, CRM и ERP решения" name="description">
  <meta content="Cтудия разработки Kernel Web" name="author">
  <meta content="Kernel, студия разработки Kernel Web, веб-студия, веб, программирование, разработка, Ruby, технопарк, IT, Ruby On Rails, Rails, Redmine, CRM, ERP, programming, coding" name="keywords">
  <!-- Facebook Metadata / -->
  <meta content="kernelweb" property="fb:page_id">
  <meta content="" property="og:image">
  <meta content="Cтудия разработки Kernel Web. Разработка веб-сервисов любой сложности на Ruby on Rails. Landing pages, интернет-магазины, корпоративные порталы, CRM и ERP решения" property="og:description">
  <meta content="Cтудия разработки Kernel Web" property="og:title">
  <!-- Google+ Metadata / -->
  <meta content="студия разработки Kernel Web" itemprop="name">
  <meta content="Cтудия разработки Kernel Web. Разработка веб-сервисов любой сложности на Ruby on Rails. Landing pages, интернет-магазины, корпоративные порталы, CRM и ERP решения" itemprop="description">
  <meta content="" itemprop="image">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bannerscollection_zoominout', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="assets/bannerscollection_zoominout.js" type="text/javascript"></script>
  <script src="assets/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
  <script src="//converzilla.kerweb.ru/assets/public.js", type=text/javascript"></script>

</head>

<body bgcolor="#cccccc">

<%= yield %>

</body>
</html>